[flake8]

ignore = 
    # variable assigned but never used. For clarity declare variables returned by loader
    # function although not used, and to clarify nature of parts of a tuple returned
    # as an empty to list, for example `return entries, (errors := [])`.
    F841,
    # E203 (not PEP 8 compliant) ignored to not conflict with black
    E203,
    # W503 (not PEP 8 compliant) ignored to not conflict with black
    W503,
    # D105 Missing docstring in magic method. I have no issue with this.
    # D Let pylint pick up all the doc errors
    D

exclude =
    *.ipynb_checkpoints


per-file-ignores =
    # D103 Missing docstring in public function - not required for all tests
    # D102 Missing docstring in public function - not required for all tests
    # D401 First line should be in imperative moood - not useful to describe fixtures
    tests/*.py:D103,D102,D401

#max-line-length extended in line with black default style
max-line-length = 100

docstring-convention=numpy
